# Ignore Ruby selection
/.rvmrc
/.rbenv

# Ignore packaging tools
/pkg/*
/ext/packaging

# Ignore bundler config
/.bundle
/vendor/bundle

# Ignore the default SQLite database
/db/*.sqlite3

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore asset pipeline output
/public/assets
