*.swp
.DS_Store
.dotest/*
.semver
/*.sql
/.sass-cache/*
Makefile
README.markdown.html
config/database.yml
coverage.info
coverage/*
db/*.db
db/*.sqlite3
db/dump.sql
doc/api
doc/app
log/*.log
log/*.pid
public/javascripts/all.js
public/stylesheets/all.js
spec/rcov.opts
spec/spec.opts
tags
tmp/*
