= inspector_table facts[:values].sort, :first, :last, :link => false, :key_title => :fact, :value_title => :value, :caption => "Current inventory for #{node.name} #{facts[:timestamp] ? "as of #{facts[:timestamp]}" : ""}"
