- if SETTINGS.enable_inventory_service
  .section
    %h3 Inventory
    %div#inventory
      = image_tag "loading.gif"
      = "Loading node inventory"
    %script{:type => 'text/javascript'}= load_asynchronously("div#inventory", facts_node_path(node))

  %br.clear
