- parameter = parameter_input  # change silly partial-based variable name
%tr
  %td.key
    = text_field_tag 'node[parameter_attributes][][key]', parameter.key
  %td.value
    %div
      = text_field_tag 'node[parameter_attributes][][value]', parameter.value
      .popup-actions
        %a.delete-parameter{:href => '#'}
          %span (delete)
