= javascript_include_tag 'validation_response', :cache => 'validation'
#sidebar= render 'shared/node_manager_sidebar'
#main
  - remote_form_for @node, :success => "form_submit_success(request.responseJSON, 'error_messages')", :failure => "alert(\'Oops!! An error occurred.\')", :html => {:id => "param_form"} do |f|
    %input{:id => "force_create", :name => "force_create", :type => "hidden", :value => "false"}
    = render f
    .element.actions
      %button{:id => "submit_button"} Create
      or
      = link_to 'Cancel', @node
