%table.inspector.flot-data.benchmark
  %thead
    %tr
      %th
      - reports.map{|r| r.time}.each do |time|
        %th= time.to_i * 1000
  %tbody
    %tr
      %th Runtime
      - reports.map{|r| r.total_time}.compact.each do |time|
        %td= "%0.3f" % time
