- nodes = local_assigns[:nodes]
- node = local_assigns[:node]
- args = {:start => Status::INTERVAL_CUTOFF.ago, :limit => Status::INTERVAL_CUTOFF/1.day}
- args[:node] = node if node
- args[:nodes] = nodes if nodes
- statuses = Status.by_interval(args)

%h3 Daily run status
%p.legend Number and status of runs during the last #{Status::INTERVAL_CUTOFF/1.day} days.

- if statuses.present?
  %table.inspector.data.status.bar
    %thead
      %tr.labels
        - statuses.each do |status|
          %th= status.start.strftime("%m/%d/%y")
    %tbody
      %tr.succeeded
        - statuses.each do |status|
          %td= status.total - status.failed
      %tr.failed
        - statuses.each do |status|
          %td= status.failed
- else
  %p No runs to report
