- if reports.size > 1
  %h3 Run Time
  %p.legend The elapsed time in seconds for each of the <strong>last 30 Puppet runs</strong>:
  %table.inspector.data.runtime
    %thead
      %tr.labels
        - reports.map{|r| r.time}.each do |time|
          %th{:scope => :col}= time.to_s(:time)
    %tbody
      %tr.runtimes
        - reports.map{|r| r.total_time}.compact.each do |time|
          %td= "%0.2f" % time.to_f
  %br.clear
