- statuses = Status.by_interval(:limit => 100) unless statuses
%table.inspector.flot-data.percent
  %thead
    %tr
      %th
      - statuses.each do |status|
        %th= status.start.to_i * 1000
  %tbody
    %tr
      %th Fail Percentage
      - statuses.each do |status|
        %td= status.percent
