%table.inspector.data.runtime
  %thead
    %tr.labels
      - reports.map{|r| r.time}.each do |time|
        %th= time.strftime('%I:%M%p')
  %tbody
    %tr.runtimes
      - reports.map{|r| r.total_time}.compact.each do |time|
        %td= "%0.2f" % time.to_f
