.item
  .section
    = render :partial => 'statuses/run_failure'
  .section
    - reports = Report.all(:limit => 30, :order => 'time DESC')
    = render :partial => 'statuses/run_time', :locals => { :reports => reports }
