/*
    IMPORTANT: This stylesheet is processed using SASS!

    Edit this file:
        public/stylesheets/sass/global.scss

    And after a Rails action, it'll generate a fresh copy of:
        public/stylesheets/global.css

    Be sure to edit the right file, all changes to the .css file will be lost!
*/

/******************************************************************************
*                                  IMPORTS                                    *
******************************************************************************/

@import 'reset';
@import 'jquery.ui.custom';
@import 'jquery.ui.combobox';
@import 'tipsy';
@import 'colorbox';
@import 'inner';

/******************************************************************************
*                      GLOBAL STYLES, VARIABLES, MIXINS                       *
******************************************************************************/ 

@mixin icony-section($icon-name, $header-foreground, $header-background, $section-foreground, $section-background, $border-color) {
  @include rounded;
  padding: 0;
  padding-top: 10px;
  padding-right: 10px;
  background: $section-background;
  border: 1px solid $border-color;
  color: $section-foreground;

  h3 {
    margin: -10px;
    margin-bottom: 0.5em;
    padding: 0.5em;
    padding-right: 10px;
    padding-left: 26px;
    background: $header-background url('../images/icons/' + $icon-name + '.png') 5px center no-repeat;
    color: $header-foreground;
  }

  p:last-child {
    padding-bottom: 0;
    margin-bottom: 0.75em;
  }
}

/******************************************************************************
*                              REUSABLE CLASSES                               *
******************************************************************************/

.element {
  width: 512px;
  margin: 0;
  margin-bottom: 0.5em;
}

.element.actions {
  background: #DDD;
  width: 100%;
  padding: 0.2em 0;
}

.element.errors {
  border: 1px solid #FCC;
  background: #FEE;
  color: #F66;
}

.collapsed {
  display: none;
}

.expandable {
  margin-bottom: 1em;
}

.expandable-list {
  padding: 1em;
  background: #fff;
  width: auto;
}

.expandable-list .even {
  background: #F5F5F5;
}

.expandable-link,
.non-expandable-bullet {
  vertical-align: bottom;
}

.expandable-link.collapsed-link:before {
  content: url('../../images/icons/bullet_toggle_plus.png');
}

.expandable-link:before {
  content: url('../../images/icons/bullet_toggle_minus.png');
}

.non-expandable-bullet:before {
  content: url('../../images/icons/bullet_green.png');
}

.expandable-list-item {
  display: inline-block;
  vertical-align: bottom;
}

.actions {
  font-size: 12px;
}

.actions,
.button,
.navigation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.errorExplanation {
  margin-bottom: 1.5em;
}

.icon {
  display: inline-block;
  height: 100%;
  width: 16px;
  text-indent: -9999px;
  vertical-align: baseline;
}

.icon.delete {
  background: url(images/icons/delete.png) transparent center center no-repeat;
}

.clear {
  clear: both;
}

.item {
  @include rounded-bottom;
  background: #FFF;
  padding: 1em;
  margin-bottom: 1em;
}

.item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.half {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.section {
  margin-bottom: 1.5em;

  &.error {
    @include icony-section('failed', #433, #FCC, #433, #FDD, #FCC);
  }

  &.failure {
    @include icony-section('failed', #433, #FCC, #433, #FDD, #FCC);
  }

  &.warning {
    @include icony-section('warning', #444, #DCC, #433, #EDD, #DCC);
  }

  &.success {
    @include icony-section('warning', #444, #CDC, #343, #DED, #CDC);
  }
}

.panel.tabbed {
  border: solid 1px #CCC;
  background-color: #FFF;
  padding: 1em;
  margin-top: 25px;
  margin-bottom: 1em;
}

.node-summary {
  padding: 0 0.5em;
  margin: 0.5em auto;
}

.delayed-job {
  padding-bottom: 0.5em;
}

.help {
  position: absolute;
  top: 2px;
  right: 4px;
}

/******************************************************************************
*                             DEFAULT TAG STYLES                              *
******************************************************************************/

body {
  background: #e8eef0;
  color: #444;
  min-width: 400px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 18px;
  font-size: 12px;
}

label {
  display: block;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.33em;
}

h2 {
  font-size: 1.45em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1em;
}

h4 {
  font-size: 1em;
  line-height: 1.28em;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: #2C66A8;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
  font-weight: bold;
}

code,
pre {
  font-family: "Monaco", "Courier New", Courier, fixed-width;
}

input {
  font-size: 1em;
}

