@mixin radiator_row($color) {
  .percent {
    background-color : $color;
    border-radius: 0 3px 3px 0;
  }
  .label,
  .count {
    color : $color;
  }

  .label {
    border-left: 1px #333 dashed;
  }
}
body.radiator_controller {
  font-size : 815%;
  line-height : 1;
  font-family : "Helvetica Neue",Arial,Helvetica,sans-serif;
  background-color: #000;
  table.node_summary {
    padding : 20px;
    .count_column {
      min-width: 2em;
      width: 2em;
    }
    position : absolute;
    height : 100%;
    width : 100%;
    tr:last-child {
      td {
        border-bottom: none;
        .label {
          border-left: 0px #000 solid;
        }
      }
    }
    tr {
      &.unresponsive { @include radiator_row( #888 )}
      &.failed       { @include radiator_row( #c21 )}
      &.pending      { @include radiator_row( #e72 )}
      &.changed      { @include radiator_row( #069 )}
      &.unchanged    { @include radiator_row( #093 )}
      &.unreported   { @include radiator_row( #aaa )}
      &.total        {
        color : #fff;
        background-color: #181818;
        @include radiator_row( #fff );
        .percent {
          display: none;
        }
        td {
          border-top : 1px solid #fff;
        }
      }
      td {
        color : #ccc;
        font-weight : normal;
        position : relative;
        border-bottom : 1px solid #333;
        vertical-align: baseline;
        div {
          position: relative;
          height: 100%;
        }
        .percent {
          color : #000;
          position : absolute;
          top : 0;
          left : 0;
          height: 100%;
          overflow: hidden;

          span {
            margin-left: 0.1em;
          }
        }
        .label {
          position : relative;
          height: 100%;

          span {
            margin-left: 0.1em;
          }
        }
        .count {
          text-align : right;
          width : 1.75em;
          display : inline-block;
          font-weight : bold;
          margin-top: -0.12em;
        }
      }
    }
  }
}
/*
  * hide all?
  * how to show percent?
  * full width & height
  * secondary cannot be a table
  * right-aligned counts
*/
