@mixin radiator_row($color) {
  .percent {
    background-color : $color;
    border-radius: 0 3px 3px 0;
  }
  .label {
    color : $color;
  }
  .count {
    color : $color;
  }
}
body.radiator_controller {
  font-size : 3em;
  line-height : 1;
  font-family : "Helvetica Neue",Arial,Helvetica,sans-serif;
  background-color : #000;
  table.node_summary {
    padding : 20px;
    .count_column {
      width: 2em;
    }
    position : absolute;
    height : 100%;
    width : 100%;
    tr:last-child {
      td {
        border-bottom: none;
      }
      td:last-child {
        p {
          display: none;
        }
      }
    }
    tr {
      &.unresponsive { @include radiator_row( #888 )}
      &.failed       { @include radiator_row( #c21 )}
      &.pending      { @include radiator_row( #e72 )}
      &.changed      { @include radiator_row( #069 )}
      &.unchanged    { @include radiator_row( #093 )}
      &.unreported   { @include radiator_row( #aaa )}
      &.all          {
        color : #fff;
        @include radiator_row( #fff );
        background-color: #000;
        .percent {
          display: none;
        }
        td {
          border-top : 1px solid #fff;
        }
      }
      td {
        color : #ccc;
        font-weight : 100;
        position : relative;
        border-bottom : 1px solid #333;
        .label,
        .percent {
          display : table-cell;
        }
        .percent {
          color : #000;
          overflow : hidden;
          position : absolute;
          top : 0px;
          left : 0px;
          width: 100%;
          height : 100%;

          span {
            margin-left: 0.1em;
          }
        }
        .label {
          height : 100%;
          position : absolute;
          top : 0px;
          left : 0px;

          span {
            margin-left: 0.1em;
          }
        }
        .count {
          text-align : right;
          width : 1.75em;
          display : inline-block;
          font-weight : bold;
          margin-top: -0.12em;
        }
      }
    }
  }
}
/*
  * hide all?
  * how to show percent?
  * full width & height
  * secondary cannot be a table
  * right-aligned counts
*/
