/*
    IMPORTANT: This stylesheet is processed using SASS!

    Edit this file:
        public/stylesheets/sass/inner.scss

    And after a Rails action, it'll generate a fresh copy of:
        public/stylesheets/inner.css

    Be sure to edit the right file, all changes to the .css file will be lost!
*/

$button-background: #5c80a8;
$button-gradient-percentage: 10%;
$button-hover-background: lighten($button-background, 10%);
$button-active-background: darken($button-background, 10%);
$rounding-radius: 0.35em;

@mixin roundify($top-left: $rounding-radius, $top-right: $rounding-radius, $bottom-right: $rounding-radius, $bottom-left: $rounding-radius) {
  -webkit-border-radius: $top-left $top-right $bottom-right $bottom-left;
  -moz-border-radius: $top-left $top-right $bottom-right $bottom-left;
  border-radius: $top-left $top-right $bottom-right $bottom-left;
}

@mixin rounded($radius: $rounding-radius) {
  @include roundify($radius, $radius, $radius, $radius);
}

@mixin rounded-top($radius: $rounding-radius) {
  @include roundify($radius, $radius, 0, 0);
}

@mixin rounded-bottom($radius: $rounding-radius) {
  @include roundify(0, 0, $radius, $radius);
}

@mixin buttony {
  @include rounded;
  background: $button-background;
  background: -moz-linear-gradient(top, lighten($button-background, $button-gradient-percentage), darken($button-background, $button-gradient-percentage));
  background: -webkit-gradient(linear, center top, center bottom, from(lighten($button-background, $button-gradient-percentage)), to(darken($button-background, $button-gradient-percentage)));
  border: 1px solid #DDD;
  border-color: #CCC #AAA #AAA #CCC;
  color: white;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.25em;
  padding: 0.15em 0.65em;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
    color: #FFFFCC;
    background: $button-hover-background -moz-linear-gradient(top, lighten($button-hover-background, $button-gradient-percentage), darken($button-hover-background, $button-gradient-percentage));
    background: $button-hover-background -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($button-hover-background, $button-gradient-percentage), to(darken($button-hover-background, $button-gradient-percentage))));
  }

  &:active {
    background: $button-active-background -moz-linear-gradient(top, lighten($button-active-background, $button-gradient-percentage), darken($button-active-background, $button-gradient-percentage));
    background: $button-active-background -webkit-gradient(linear, 0% 0%, 0% 100%, from(lighten($button-active-background, $button-gradient-percentage), to(darken($button-active-background, $button-gradient-percentage))));
  }

  &.drop:after {
    content: "   \002193";
  }
}

@mixin reporty-level-row($background-color, $darken-amount: 3%) {
    &:nth-child(even) td {
        background: darken($background-color, $darken-amount);
    }
    td {
        background: $background-color;
    }
}

@mixin node-summary-row($color) {
  a {
    color: $color;
  }
  .percent {
    a {
      background-color: $color;
    }
  }
  &.hover,
  &.active,
  &:hover {
    background-color: $color;
    a {
      color: #fff;
      text-decoration: none;
    }
    .percent {
      a {
        background-color: #fff;
      }
    }
  }
}

@mixin clearfix {
  display: block;
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
  }
}

@mixin icony-section($icon-name, $header-foreground, $header-background, $section-foreground, $section-background, $border-color) {
  @include rounded;
  padding: 10px;
  padding-bottom: 0;
  background: $section-background;
  border: 1px solid $border-color;
  color: $section-foreground;

  h3 {
    margin: -10px;
    margin-bottom: 0.5em;
    padding: 0.5em;
    padding-right: 10px; 
    padding-left: 26px;
    background: $header-background url('../images/icons/' + $icon-name + '.png') 5px center no-repeat;
    color: $header-foreground;
  }

  p:last-child {
    padding-bottom: 0;
    margin-bottom: 0.75em;
  }
}

/******************************************************************************
*                              REUSABLE CLASSES                               *
******************************************************************************/

.content {
  padding: 1em;
  background: #fff;
}

.actions {
  font-size: 12px;
}

.actions,
.button,
.navigation {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.clear {
  clear: both;
}

a.cancel {
  color: #888;
}

a.button {
  display: inline-block;
}

a.button,
button {
  @include buttony;
}

a.button.warning,
button.warning {
  background: #C66;
}

p.error {
  color: #C33;
  background: #FEE;
  padding: 0.5em 1em;
}

p.legend {
  color: #999;
  margin-bottom: 0;
}

span.sparkline {
  vertical-align: bottom;
}

div.flot-graph {
  margin-bottom: 10px;
  width: 100%;
}

th.empty {
  text-align: left;
  background: transparent !important;
  padding-left: 1em !important;
}

td.empty {
  text-align: center;
  color: #999;
  background: #F8F8F8;
}

ul.tabbed {
  @include clearfix;
  display: block;
}

.in-place {
  display: none;
}

.wrap {
  word-wrap: break-word;
  word-break: break-all;
}

.nowrap {
  white-space: nowrap;
}

.collapsed {
  display: none;
}

.expandable {
  margin-bottom: 1em;
}

.expandable-list-item {
  display: inline-block;
  vertical-align: bottom;
}

.errorExplanation {
  margin-bottom: 1.5em;
}

.delayed-job {
  padding-bottom: 0.5em;
}

.node_summary {
  padding: 0 0.5em;
  margin: 0.5em auto;
}

.help {
  position: absolute;
  top: 2px;
  right: 4px;
}

.panel.tabbed {
  border: solid 1px #CCC;
  background-color: white;
  padding: 1em;
  margin-top: 25px;
  margin-bottom: 1em;
}

.item {
  @include rounded-bottom;
  background: #FFF;
  padding: 1em;
  margin-bottom: 1em;
}

.item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.element {
  width: 512px;
  margin: 0;
  margin-bottom: 0.5em;

  &.header {
    width: 100%;
  }

  &.actions {
    background: #DDD;
    width: 100%;
    padding: 0.2em 0;
  }

  &.errors {
    border: 1px solid #FCC;
    background: #FEE;
    color: #F66;
  }
}

.non-expandable-bullet {
  vertical-align: bottom;

  &:before {
    content: url('../../images/icons/bullet_green.png');
  }
}

.expandable-link {
  vertical-align: bottom;

  &:before {
    content: url('../../images/icons/bullet_toggle_minus.png');
  }

  &.collapsed-link:before {
    content: url('../../images/icons/bullet_toggle_plus.png');
  }
}

.expandable-list {
  padding: 1em;
  background: #fff;
  width: auto;

  .even {
    background: #F5F5F5;
  }

  th {
    font-weight: bold;
  }

  td,
  th {
    padding: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.15em;
  }
}

a.icon span {
  display: none;
}

.icon {
  display: inline-block;
  height: 100%;
  width: 16px;
  text-indent: -9999px;
  vertical-align: baseline;

  &.success {
    background: url(images/icons/success.png) transparent center center no-repeat;
  }

  &.failed {
    background: url(images/icons/failure.png) transparent center center no-repeat;
  }

  &.add {
    background: url(images/icons/add.png) transparent center center no-repeat;
  }

  &.delete {
    background: url(images/icons/delete.png) transparent center center no-repeat;
  }
}

.half {
  width: 45%;
  margin-right: 5%;
  float: left;
}

.section {
  margin-bottom: 1.5em;

  &.error {
    @include icony-section('failed', #433, #FCC, #433, #FDD, #FCC);
  }

  &.failure {
    @include icony-section('failed', #433, #FCC, #433, #FDD, #FCC);
  }

  &.warning {
    @include icony-section('warning', #444, #DCC, #433, #EDD, #DCC);
  }

  &.success {
    @include icony-section('warning', #444, #CDC, #343, #DED, #CDC);
  }

  &.notice {
    @include icony-section('notice', #444, #CCC, #333, #DDD, #CCC);
  }
}

/*******************************************************************************
*                              STRUCTURAL RULES                                *
*******************************************************************************/

#item {
  background: #FFF;
}

#list {
  max-height: 300px;
  overflow: auto;
}

#mark-as-read {
  margin-bottom: 1em;
}

.content h4 {
  margin-top: 1em;
}

.fieldWithErrors input {
  background: #FDD;
}

.inspect-report .non-expandable-bullet:before {
  content: url('../../images/icons/bullet_red.png');
}

#wrap {
  margin: 1em;
  margin-top: 0;
}

#content {
  padding: 0;
  padding-top: 1.5em;
  padding-bottom: 2em;
}

body {
  &.with-sidebar #main {
    width: 80%; 
    float: left;
  }

  &.no-sidebar #main,
  #main.full { 
    width: 100%;
  }
}

#footer {
  p {
    clear: both;
    padding-top: 1em;
    color: #777;

    a {
      color: inherit;
    }
  }
}

#header {
  margin-bottom: 1em;
  padding: 0;
  padding-top: 1em;

  ul {
    &#secondary-navigation {
      float: right;
      top: -1.5em;

      li {
        list-style-type: none;
        float: left;
        margin-right: 0.8em;
      }
    }

    &.navigation {
      li {
        list-style-position: outside;
        padding-left: 0.3em;
        margin-left: 1em;
        margin-right: 1em;
        float: left;

        &.active > a,
        &.active > a:hover {
          font-weight: bold;
        }

        a {
          vertical-align: middle;
        }
      }
    }
  }

  li:first-child {
    list-style-type: none;
  }

  #logo a {
    background-position: top center;
    display: inline-block;
    position: relative;
    top: 1px;

    &:hover {
      background-position: bottom center;
    }
  }
}

#sidebar {
  width: 20%; 
  float: left; 
  clear: left;

  h3 {
    margin: 0;
  }

  a.fold {
    width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }

  ul {
    list-style: none;
  }

  .group {
    @include rounded;
    position: relative;
    border: 1px solid #DDD;
    background: #FFF;
    margin: 0;
    margin-right: 1em;
    margin-bottom: 1em;

    h3 {
      @include rounded-top;

      color: #444;
      line-height: 1.25em;
      position: relative;
      display: block;
      background: #DDD;

      &.active {
        background: #d2dde5;
      }

      a {
        display: block;
        padding: 0.25em 0.5em;
      }
    }

    .footer.actionbar {
      @include rounded-bottom;
    }

    span.count {
      @include rounded(5px);
      display: block;
      position: absolute;
      right: 3px;
      top: 3px;
      color: #FFF;
      font-size: 12px;
      padding: 0 0.4em;
      text-align: center;
      background: #CCC;
    }

    ul {
      max-height: 20em;
      overflow: auto;
      border-top: 1px solid #D8D8D8;

      li {
        position: relative;
        font-size: 12px;
        border-bottom: 1px solid #EEE;

        &:last-child {
          border: 0; }

        &.active {
          background: #FFFFCC; }

        a {
          padding: 0.25em 0.5em;
          display: block;
        }

        span.count {
          background: #DDD;

          &.failure {
              background: #DD9B9B;
          }
        }
      }
    }
  }
}

.errors {
  ul {
    list-style: none;
    margin-bottom: 0.5em;
    padding: 0 0.5em;
  }

  li {
    padding-left: 20px;
    background: url(images/icons/failure.png) left center no-repeat;
  }

  &.element h3 {
    padding: 0.2em 0.5em;
    color: #D55;
    background: #FCC;
  }
}

form {
  .header {
    input {
      border: 1px solid transparent;
      font-size: 1.45em;
      font-weight: bold;
      margin: 2px;
      width: 80%;
    }

    label {
      display: none;
    }
  }

  h3 {
    font-size: 1em;
  }

  textarea {
    width: 99%;
  }

  input[readonly] {
    background-color: #EEE;
  }

  input.inline,
  label.inline {
    display: inline;
  }

  &.search {
    float: right;
    background: transparent;
    padding: 0;

    input {
      color: #444;
      width: 20em;
      margin: 0;
      line-height: 1.4em;
      padding: 0.35em;
      border: 1px solid #CCC;
    }
    button {
      margin: 0.25em;
      margin-left: 0em;
    }
  }
}

table.main, table.inspector {
  border-collapse: collapse;
  width: 100%;
  background: #FFF;
  border: 1px solid #DDD;

  thead th {
    background: #EEE -moz-linear-gradient(top, #F8F8F8, #E8E8E8);
    background: #EEE -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E8E8E8));
    border: 1px solid #DDD;
    padding: 0 0.5em;
    color: #888;
  }

  tbody td {
    border: 1px solid #DDD;
    padding: 0.5em;
    padding-top: 0.25em; 
    padding-bottom: 0.15em;
    vertical-align: top;
  }

  tbody tr:nth-child(even) td {
    background: #F5F5F5;
  }
}

table.main {
  tbody tr.active td {
    background: #BFE2EC;
  }

  tfoot td {
    background: #DDD;
  }
}

table.inspector {
  margin-bottom: 1em;

  td.key {
    width: 20%;
    vertical-align: top;
    text-align: left;
  }

  td.value {
    width: 100%;
    vertical-align: top;
    text-align: left;
  }

  td.total {
    font-weight: bold;
  }

  tfoot td {
    border: 1px solid #DDD;
    background: #DDD;
  }

  input {
    padding: 5px 1%;
    width: 97%;
    margin: 0;
  }
}

table thead,
table tbody {
  th,
  td {
    &.check {
      width: 1px;
      margin: 0;

      input {
        margin: 0 -0.2em;
        padding: 0;
      }
    }

    &.status {
      width: 2em;
      color: #AAA;
      padding: 0;
      text-align: center;
      vertical-align: middle;

      span {
        font-weight: bold;
      }
    }
  }
}

th.status span {
  top: 0.1em;
}

td.status {
  &.success {
    color: green;
  }

  &.failure {
    color: red;

    td {
      background-color: #FFB7B7;
    }
  }
}

tr:nth-child(even).status.failure td {
  background-color: #FFC7C7;
}

tbody tr.status.changed {
  background-color: #FF9;
}

span {
  &.count {
    color: #999;
  }

  &.alt {
    color: #999;
    font-family: "Georgia", sefif;
    font-weight: normal;
    font-style: italic;
  }

  &.type {
    top: 0.25em;
    left: 0;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;

    span {
      display: none;
    }

    &.node {
      background: url(images/icons/computer.png);
    }
  }
}

ul.actions {
  position: absolute;
  right: 1px;
  top: 1px;

  li {
    display: inline-block;
  }
}

/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #8496ba;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    min-height: 1px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.token-input-list-facebook {
    list-style-type: none;
}

ul.token-input-list-facebook li input {
    border: 0;
    width: 100px;
    padding: 3px 8px;
    background-color: white;
    margin: 2px 0;
}

li.token-input-token-facebook {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 1px 3px;
    background-color: #eff2f7;
    color: #000;
    cursor: default;
    border: 1px solid #ccd5e4;
    font-size: 11px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    float: left;
}

li.token-input-token-facebook p {
    display: inline;
    padding: 0;
    margin: 0;
}

li.token-input-token-facebook span {
    color: #a6b3cf;
    margin-left: 5px;
    font-weight: bold;
    cursor: pointer;
}

li.token-input-selected-token-facebook {
    background-color: #5670a6;
    border: 1px solid #3b5998;
    color: #fff;
}

li.token-input-input-token-facebook {
    float: left;
}

div.token-input-dropdown-facebook {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown-facebook p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown-facebook ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown-facebook ul li {
    background-color: #fff;
    padding: 3px;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
    background-color: #fff;
}

div.token-input-dropdown-facebook ul li em {
    font-weight: bold;
    font-style: none;
}

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
    background-color: #3b5998;
    color: #fff;
}

.header {
  @include rounded-top;
  background: #DDD;
  padding: 0;
  margin: 0;
  position: relative;

  input,
  h2 {
    border: 1px solid transparent;
    margin: 0 2px;
    padding: 0 0.25em;
    line-height: 1.75em;
  }

  input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  h2 {
      &.half {
          width: 0%;
          margin-right: 5%;
          float: left;
          white-space: nowrap;
      }

      img {
        vertical-align: -0.15em;
      }
  }

  a.button,
  button {
    font-size: 1.2em;
    margin: 0.15em 0;
  }

  ul.actions {
    margin-left: 0.25em;
  }
}

ol.timeline li {
  list-style-type: disc;
  margin-left: 2em;

  span.date {
    color: #666;
    display: inline-block;
    width: 12em;
  }
}

ul {
  .status {
    list-style: none;
  }

  li {
    /* drop down menu */
    .dropdown {
      display: none;
      left: 0;
      position: absolute;
      top: 1.5em;
      background: #FFF;
      border: 1px solid #CCC;
      color: #666;
      font-size: 14px;
      width: 15em;
      z-index: 7;

      ul {
        width: 100%;
        margin-bottom: 0.25em;
        max-height: 30em;
        overflow: auto;
      }

      li {
        list-style: none;

        a {
          display: block;
          padding: 0.2em 0.5em;
        }
      }

      .actions {
        border-top: 1px solid #DDD;
        background-color: #EEE;
        clear: both;
        padding: 0.25em 0.5em;
      }

      input {
        display: inline;
        vertical-align: middle;
      }
    }
  }
}

.actionbar {
  @include rounded-bottom;
  background: #DDD;
  padding: 1px;

  form {
    padding: 0.25em;
  }

  .pagination {
    font-size: 12px;
    padding: 0.1em 0.5em;
    float: left;

    a,
    span {
      padding: 0 0.2em;
    }
  }

  .dropdown {
    top: 1.75em;
  }

  ul {
    float: left;
    list-style: none;
    margin-right: 0.25em;

    li {
      float: left;
      position: relative;
    }
  }
}

.section {
  &#flash {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;

    & .close {
      position: absolute;
      top: 0;
      right: 0;
    }

    & img {
    vertical-align: top;
    }
  }
}

ul.tabbed {
  display: none;
  font: bold 14px Arial;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;

  li {
    @include rounded-top;
    background: #CCC;
    list-style: none;
    float: left;
    border: solid 1px #CCC;
    margin-right: 4px;
    color: white;

    a {
      color: #fff;
      padding: 4px 1em;
      display: block;
      cursor: pointer;
    }
    a:hover {
      text-decoration: underline;
    }
    &.active {
      border-bottom-color: white;
      background-color: white;
      color: #2C66A8;
      a {
        color: #2C66A8;
      }
    }
  }
}

body.reports_show_action,
body.pages_home_action {
  .section {
    margin: 0;
  }

  h4 {
    color: #444;
  }

  table.inspector {
    td.key {
      text-align: right;
      white-space: nowrap;
    }
  }

  tr.puppet_log {
      &.puppet_log_level_err {
          @include reporty-level-row(#FFD6D6);
      }

      &.puppet_log_level_warning {
          @include reporty-level-row(#FFEBD6);
      }
  }
}

.node_summary {
  table { // primary and secondary
    width: 100%;
    .count {
      font-weight: bold;
      padding-left: 0.3em;
    }
    .count,
    .graph {
      padding-left: 0.3em;
    }
    .count,
    .label {
      padding-top: 0.2em;
    }
  }

  table.primary { // this is marked up as a table, but not rendered that way
    tr {
      cursor: pointer;
      position: relative;

      &.unresponsive { @include node-summary-row( #888 )}
      &.failed       { @include node-summary-row( #c21 )}
      &.pending      { @include node-summary-row( #e72 )}
      &.changed      { @include node-summary-row( #069 )}
      &.unchanged    { @include node-summary-row( #093 )}
      &.unreported   { @include node-summary-row( #aaa )}
      &.all          { @include node-summary-row( #000 )}

      td {
        font-size: 1.4em;
        padding-bottom: 0.5em;

        &.count {
          text-align: right;
          padding-right: 0.3em;
        }
        &.percent {
          display: block;
          position: absolute;
          left: 0.6em;
          right: 0.6em;
          margin-top: 1.3em;

          a {
            text-indent: -9999px;
            display: block;
            height: 3px;
            clear: left;
          }
        }
      }
    }
  }

  table.secondary {
    padding-top: 0.5em;
    border-top: 1px solid #ccc;
    margin-top: 0.5em;
    tr.active {
      a {
        color: #fff;
      }
      background-color: #2c66a8;
    }
    td {
      font-size: 1.2em;
      padding: 0.2em 0.3em;
    }
  }
}

/* Facebook-style token autocompletion */

ul.token-input-list-facebook {
  width: 100%;
}

div.token-input-dropdown-facebook {
  &.token-input-dropdown-facebook {
    background-color: #FFFFED;
    width: 450px;
  }

  ul {
    li {
      &.token-input-dropdown-item-facebook,
      &.token-input-dropdown-item2-facebook {
        background-color: #FFFFED;
        list-style-type: none;
      }

      &.token-input-selected-dropdown-item-facebook {
        background-color: #FFFDA4;
        color: #000;
      }
    }
  }
}

body.delayed_job_failures_controller {
  dl {
    dt {
      color: #999;
      strong {
        color: #000;
      }
      em {
        color: #000;
        font-weight: normal;
      }
    }
    dd {
      padding-bottom: 0.3em;
      border-bottom: 1px solid #eee;
      margin-bottom: 0.3em;
    }
  }
}

.delayed-job p {
  padding: 1em;
  padding-top: 0.5em;
  padding-bottom: 0;
  margin: 0;
  em,
  a {
    padding-left: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    margin-bottom: 0.5em;
  }
  &.ok {
    em {
      background: transparent url( /images/icons/delayed-job-ok.png ) no-repeat 0% 50%;
    }
  }
  &.failure {
    a {
      background-image: url( /images/icons/delayed-job-failure.png );
    }
  }
  &.warning {
    em {
      background-image: url( /images/icons/delayed-job-warning.png );
    }
  }
}

.help a {
  text-indent: -9999px;
  background: transparent url("../images/icons/help.png") no-repeat 0% 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: block;
}

/******************************************************************************
*                             DEFAULT TAG STYLES                              *
******************************************************************************/

body {
  background: #e8eef0;
  color: #444;
  min-width: 400px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 18px;
  font-size: 12px;
}

label {
  display: block;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: bold;
  margin-bottom: 0.5em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.33em;
}

h2 {
  font-size: 1.45em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1em;
}

h4 {
  font-size: 1em;
  line-height: 1.28em;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: #2C66A8;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

strong {
  font-weight: bold;
}

code,
pre {
  font-family: "Monaco", "Courier New", Courier, fixed-width;
}

input {
  font-size: 1em;
}
