.table-tools
  - form_tag do
    = text_field_tag :search, '', :class => 'filter-list', :autocomplete => 'off', :type => "search"
  = link_to "<span class='indicator'></span>Add new", new_node_group_path, :class => "add button", :rel => 'inspect'

%table.inspector
  %thead
    %tr
      %th
        Name
  %tbody
    - collection.each do |node_class|
      %tr[node_class]
        %td.name
          = link_to h(node_class.name), node_class
