- unless @node_classes.empty?
  %table.inspector
    %thead
      %tr
        %th.key Name
        %th.value{:colspan => 2} Description
    %tbody
      - @node_classes.each do |klass|
        %tr[klass]
          %td.key= link_to klass.name, klass
          %td
            = klass.description
            = hidden_field_tag 'node[node_classes[]', klass.id, :disabled => true
          %td.actions
            %a.icon.add{:href => '#'}
              %span(add)
