body {
  background: #e8eef0;
  color: #444;
  min-width: 800px;
}

a#logo {
  background: transparent url('../images/dashboard_logo.png') no-repeat top center;
  text-indent: -9000px;
  display: block;
  height: 23px;
  width: 155px;
  position: relative;
  top: 1px;
}

a#logo:hover {
  background-position: bottom center;
}

#content {
  padding: 1.5em 0 2em;
}

#footer p {
  clear: both;
  padding-top: 1em;
  color: #777;
}

ol.timeline li {
  list-style-type: none;
  padding-left: 20px;
  margin-bottom: 5px;
  position: relative;
}

ul.status {
  list-style: none;
}

span.sparkline { vertical-align: bottom; }

div.flot-graph { margin-bottom: 10px; width: 100%;}

button, a.button {
  background: #DDD -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEE), to(#CCC));
  border: 1px solid #DDD;
  border-color: #FFF #AAA #AAA #FFF;

  color: #666;
  cursor: pointer;
  font-size: 12px;
  line-height: 2em;
  margin:0;
  padding: 0 .5em;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

a.button {
  display: inline-block;
  font-size: 12px;
}

button:hover, a.button:hover {
  color: #666;
  text-decoration: none;
  background: #E8E8E8 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#D8D8D8));
}

button:active, a.button:hover {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#CCC), to(#EEE));
}

.actions {
  font-size: 12px;
}

/* SIDEBAR */

#content #sidebar .group {
  border: 1px solid #DDD;
  border-top: 1px solid #EEE;
  background: #FFF;
  margin: 0 .5em 1em 0;

  -webkit-border-radius: .2em;
  -moz-border-radius: .2em;
  border-radius: .2em;
}

#content #sidebar .group h3 {
  color: #444;
  font-size: 14px;
  line-height: 14px;
  position: relative;
  display: block;
  background: #DDD;
  padding: .5em;
}

#content #sidebar .group span.count {
  display: block;

  position: absolute;
  right: 3px;
  top: 3px;

  background: #DDD;
  color:  #FFF;
  font-size: 12px;
  padding: 0 .4em;
  text-align: center;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#content #sidebar .group ul {
  max-height: 20em;
  overflow: auto;
  border-top: 1px solid #D8D8D8;
}

#content #sidebar .group ul li {
  padding: .25em .5em;
  position: relative;
}

#content #sidebar .group ul li.active {
  background: #e2edf5;
}


#content #sidebar .group ul li a {
  display: block;
}

#content #sidebar a.fold { width: 1em; display: inline-block; text-align: center; font-size: 14px; font-weight: bold;}

#content #sidebar ul {
  list-style: none;
}

/* ACTIONBAR */

.actionbar {
  background: #DDD;
  padding: 1px;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.actionbar .pagination {
  font-size: 12px;
  padding: .1em .5em;
  float: right;
}

.actionbar ul {
  float: left;
  list-style: none;
  margin-right: .25em;
}

.actionbar ul li {
  float: left;
  position: relative;
}

.actionbar ul li:first-child button,
.actionbar ul li:first-child a.button {
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.actionbar ul li:last-child button,
.actionbar ul li:last-child a.button {
  -webkit-border-top-left-radius: 0px
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.actionbar ul li:only-child button,
.actionbar ul li:only-child a.button {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.navigation {
  position: relative;
}

button.drop:after,
a.drop:after {
  content: "   \002193";
}

ul li .dropdown { /* drop down menu */
  display: none;

  left; 0;
  position: absolute;
  top: 1.5em;

  background: #FFF;
  border: 1px solid #CCC;
  color: #666;
  font-size: 14px;
  width: 15em;

  z-index: 7;
}

.actionbar .dropdown {
  top: 1.75em;
}

ul li .dropdown ul {
  width: 100%;
  margin-bottom: .25em;
  max-height: 30em;
  overflow: auto;
}

.dropdown li {
  list-style: none;
}

.dropdown li a {
  display: block;
  padding: .2em .5em;
}

.dropdown .actions {
  border-top: 1px solid #DDD;
  background-color: #EEE;
  clear: both;
  padding: .25em .5em;
}

.dropdown input {
  display: inline;
  vertical-align: middle;
}

.actionbar form {
  padding: .25em;
}

.actionbar #add_node {
  margin: 2px 2px 1px;
}

.actionbar #add_node form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.clear {
  clear:both;
}

.header {
  background: #DDD;
  padding: 0;
  margin: 0;
  position: relative;
}

.header h2, .header input {
  border: 1px solid transparent;
  margin: 0 2px;
  padding: 0 .5em;
}

#item {
  padding: 1em;
}

.section {
  margin-bottom: 1em;
}

.section.error {
  background: #FDD;
  border: 1px solid #FCC;
  padding: 10px 10px 0;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #433;
}

.section.warning {
  background: #DDD;
  border: 1px solid #CCC;
  padding: 10px 10px 0;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  color: #444;
}

.section.error h3 {
  margin: -10px -10px .5em;
  padding: .5em 10px .5em 26px;
  background: #Fcc url(images/icons/failure.png) 8px center no-repeat;
  color: #433;
}

.section.warning h3 {
  margin: -10px -10px .5em;
  padding: .5em 10px;
  background: #CCC url(images/icons/warning.png) 8px center no-repeat;
  color: #444;
}

.half {
  width: 45%;
  margin-right: 5%;
  float: left;

