/* @oerride http://localhost:3000/stylesheets/application.css */

/* @group Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1.5;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

table, td, th {
  vertical-align: middle;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

blockquote, q {
  quotes: "" "";
}

a img {
  border: none;
}

a {
  outline: 0;
}

/* @end */

.site-width {
  width: 960px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
}

.site-width:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#puppet-node-manager {
  font-family: "Helvetica Neue", Helvetica, Arial, serif;
}

/* @group Typography */

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: #1f508c;
}

a:hover {
  text-decoration: underline;
  color: #3268aa;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.33em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1em;
}

h4 {
  font-size: 1em;
  line-height: 1.28em;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: bold;
}

span.count {
  font-size: 0.75em;
  color: #aaa;
}

span.alt {
  color: #999;
  font-family: "Georgia", sefif;
  font-weight: normal;
  font-style: italic;
}

strong {
  font-weight: bold;
}

code, pre {
  font-family: "Monaco", "Courier New", Courier, fixed-width;
  font-size: 12px;
}

p.error {
  color: #C33;
  background: #FEE;
  padding: .5em 1em;
}

/* @end */

/* @group Header */

#header {
  background: #333 url(images/header.png);
  color: white;
  padding: 1em 0 0;
}

#header h1 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
}

h1 a {
  color: white;
}

h1 a:hover {
  text-decoration: none;
}

#header ul:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header ul#secondary-navigation {
  position: absolute;
  background: #222;
  border: 1px solid #555;
  right: 20px;
  top: -1.5em;
  font-size: 0.75em;
  padding: 1em 0.5em 0.25em;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius: ;
}

#header ul#secondary-navigation li {
  list-style-type: none;
  float: left;
  display: inline-block;
  margin-right: 0.8em;
}

#header ul#secondary-navigation li:last-child {
  margin-right: 0;
}

#header ul#secondary-navigation a {
  color: #aaa;
  text-decoration: underline;
}

#header ul#secondary-navigation a:hover {
  color: #eee;
}

#header ul#global-navigation li {
  display: block;
  float: left;
  margin-right: 5px;
  color: #333;
}

#header ul#global-navigation li a,
#header ul#global-navigation li span {
  padding: 0.25em 10px 0.25em;
  display: block;
}

#header ul#global-navigation li span,
#header ul#global-navigation li a {
  background: white;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}

#header ul#global-navigation li a {
  background: #444;
  color: #888;
  -webkit-transition: all 0.125s ease-in-out;
}

#header ul#global-navigation li a:hover {
  color: #aaa;
  background: #555;
  text-decoration: none;
}

/* @end */

/* @group Content */

#content {
  padding: 1.5em 0 2em;
}

/* @end */

/* @group Footer */

#footer .site-width p {
  color: #777;
  border-top: 3px solid #ccc;
  padding-top: 0.5em;
}

/* @end */

/* @group Layout */

.primary-secondary-content {
  padding-right: 320px;
}

.primary-secondary-content:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.primary-secondary-content .primary-content,
.primary-secondary-content .secondary-content {
  float: left;
  width: 100%;
}

/* =Typography */

.primary-secondary-content .secondary-content {
  width: 300px;
  margin-right: -300px;
  position: relative;
  left: 20px;
}

/* @end */

/* @group Table Tools */

.table-tools {
  background: #ccc;
  padding: 4px 4px 6px 4px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-bottom: -2px;
}

.table-tools h3 {
  padding: 4px;
  float: left;
}

.table-tools form {
  display: inline;
}

.table-tools input {
  top: 1px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #eee;
  border-top-color: #aaa;
  border-left-color: #bbb;
  background: url(images/icons/search.png) 4px 3px no-repeat white;
  outline: none;
  -webkit-appearance: searchfield;
  position: relative;
  width: 25em;
}

.table-tools + table {
  margin-top: -2px;
}

.primary-content .table-tools input { width: 15em; }

.table-tools a.button,
.section a.button {
  background: #777 url(images/white-overlays.png) top repeat-x;
  background-position: 0 -128px;
  text-shadow: 0 -1px 0 #666;
  -webkit-box-shadow: 1px 1px 0 #bbb;
  color: white;
  float: right;
  margin-right: 2px;
  font-size: 12px;
  position: relative;
  top: 3px;
}


.secondary-content a.button {
  margin-right: -2px;
  top: 2px;
}

.secondary-content .table-tools a.button {
  margin-right: 2px;
  top: 0;
}

.table-tools a.add.button span.indicator,
.section a.add.button span.indicator {
  background: url(images/icons/add_grey.png);
}

.table-tools:hover a.add.button,
.section:hover a.add.button {
  background: #376e1b url(images/white-overlays.png) repeat-x 0 -128px;
  text-shadow: #386522 0 -1px 0;
  color: white;
}

.section:hover a.add.button {
  background-color: #3d7224;
  text-shadow: 0 -1px 0 #666;
}

.table-tools:hover a.add.button span.indicator {
  background: url(images/icons/add.png);
}



/* @end */

/* @group Icons */

.icon {
  display: inline-block;
  height: 100%;
  width: 16px;
  text-indent: -9999px;
  vertical-align: baseline;
}

.icon.success {
  background: url(images/icons/success.png) transparent center center no-repeat;
}

.icon.add {
  background: url(images/icons/add.png) transparent center center no-repeat;
}

.icon.delete {
  background: url(images/icons/delete.png) transparent center center no-repeat;
}

/* @end */

/* @group Inspector */

div#inspector.primary-secondary-content {
  padding-left: 400px;
  padding-right: 0;
}

/* @group Primary Content */

div#inspector .primary-content h2 {
	font-size: 1em;
	margin-top: -0.5em;
}

div#inspector .primary-content table {
  border: 2px solid #ccc;
  width: 100%;
  margin-bottom: 1em;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}

div#inspector table thead th {
  background: #ddd;
}

div#inspector .primary-content table tr.active td {
  background: #2e76da;
  color: white;
}

div#inspector .primary-content table tr.active td a {
  color: white;
}

div#inspector .primary-content table tbody {
}


div#inspector .secondary-content .header.element label {
  display: none;
}

div#inspector .secondary-content .header input {
  font-size: 1.25em;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #aaa;
  margin-left: -0.2em;
}

div#inspector.primary-secondary-content .secondary-content .actions li {
  display: inline-block;
}

div#inspector.primary-secondary-content .secondary-content ul.actions {
  position: absolute;
  right: 10px;
  top: 0.45em;
}

/* @end */

/* @group Secondary Content */

div#inspector .secondary-content {
	margin: 0;

  width: 100%;
  position: relative;
  left: auto;
  display: table;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  padding: 10px;
}

div#inspector.primary-secondary-content .secondary-content .header {
	margin: -10px;
  margin-bottom: 1em;
  padding: 0.25em 5em 0.25em 10px;
  background: #ccc;
  -webkit-border-top-radius: 2px;
  -moz-border-radius: 2px;
}

div#inspector.primary-secondary-content .secondary-content .header h2 {
  font-size: 1.25em;
  margin: 0;
  color: #666;
}

div#inspector .primary-content table tr.even td{
	background: #e8ecf1;
}

div#inspector .secondary-content .actions .button {
  background: #777 url(images/white-overlays.png) top repeat-x;
  background-position: 0 -128px;
  text-shadow: 0 -1px 0 #666;
  -webkit-box-shadow: 1px 1px 0 #bbb;
  color: white;
}

div#inspector .secondary-content .actions .button:hover {
  background-color: #555;
}

div#inspector .primary-content {
  width: 360px;
  margin-left: -360px;
  position: relative;
  left: -40px;
}



/* @end */

div#inspector .secondary-content .header.element label {
  display: none;
}

div#inspector .secondary-content .header input {
  font-size: 1.25em;
  font-weight: bold;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid #aaa;
  margin-left: -0.2em;
}

/* @end */

/* @group Tables */

/* @group table.inspector */

table.inspector {
  width: 100%;
  font-size: 0.85em;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-bottom: 1em;
}

table.inspector caption,
.table-tools h3,
.element h3,
.element label {
  font-size: 18px;
  background: #CCC;
  color: #666;
  font-weight: bold;
  padding: 2px 8px;
}

.element h3 {
  padding: 6px 8px;
}

table.inspector caption {
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-right: -2px;
  margin-bottom: -2px;
  padding: 2px 8px;
}

table.inspector tbody {
  background: white;
}

table.inspector thead th {
  color: #888;
  background: #ccc;
  font-weight: bold;
}

table.inspector td {
  vertical-align: baseline;
  border-bottom: 1px solid #d3dff1;
}

table.inspector tr:last-child td {
  border-bottom: none;
}

table.inspector thead th {
  border-color: #c0c0c0;
}

table.inspector tr:nth-child(even) td {
  background: #e8ecf1;
}

table.inspector th.key,
table.inspector td.key {
  width: 12em;
  border-right: 1px solid #bbb;
}

table.inspector td.key {
  border-right-color: #ccc;
}

table.inspector td.total {
  font-weight: bold;
}

table.inspector .params,
table.inspector .groups,
table.inspector .classes,
table.inspector .nodes {
	text-align: center;
}

table.inspector td > div {
  position: relative;
}

table.inspector div.popup-actions {
  position: absolute;
  right: -32px;
  top: -5px;
  padding: 4px 4px 4px 0;
  height: 100%;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #ccc;
  border-left: none;
  visibility: hidden;
}

table.inspector td .popup-actions a {
  display: block;
  float: left;
  width: 16px;
  height: 100%;
  margin-left: 4px;
}

table.inspector tbody tr td.actions {
  text-align: right;
  padding-right: 5px;
}

table.inspector tr a.icon { visibility: hidden; }
table.inspector tr:hover a.icon { visibility: visible; }

table.inspector .popup-actions a.delete-parameter,
table.inspector .popup-actions a.delete {
  background: url(images/icons/delete.png) transparent center center no-repeat;
}
table.inspector .popup-actions a.add {
  background: url(images/icons/add.png) transparent center center no-repeat;
}

table.inspector td .popup-actions a span {
  display: none;
}

form .table-tools {
  margin-bottom: 1em;
}

form .table-tools.head {
  margin-bottom: 0;
}

form table.inspector tr:hover td,
table.inspector tr:hover td div.popup-actions {
  background-color: lightgoldenrodyellow !important;
  visibility: visible;
}

table.inspector td {
  padding-right: 15px;
}

table.inspector td input {
  width: 100%;
}


/* @

end */

/* @end */

.button {
  background: #ccc url(images/white-overlay.png);
  color: #333;
  padding: 0.2em 0.85em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-box-shadow: 1px 1px 1px #999;
  -webkit-transition: 0.125s all ease-in-out;
  display: inline-block;
  border: none;
  font: inherit;
  font-size: 0.8em;
  font-weight: bold;
  text-shadow: 0 1px 0 #ddd;
  text-decoration: none !important;
}

.button:hover {
	color: #333;
  background-color: #aaa;
  text-shadow: 1px 0 0 #ccc;
  -webkit-transition: none;
}

.button:active {
  background: #999;
  color: #555;
  text-shadow: none;
}


a.cancel {
	color: #888;
	font-size: 0.85em;
}

.add.button span.indicator {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 0.4em;
  margin-left: -0.4em;
  vertical-align: middle;
  position: relative;
  top: -0.2em;
  background: url(images/icons/add_light_grey.png);
}

.add.button:hover span.indicator {
  background: url(images/icons/add.png);
  text-shadow: #386522 0 -1px 0;

}

form .textarea {
  padding-right: 6px;
}

form textarea {
  width: 100%;
  margin-bottom: 10px;
}

.element {
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-bottom: 1em;
  padding: 10px 10px 0 10px;
}

.element h3,
.element label {
  margin: -10px -10px 10px -10px;
}

.grouping {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 10px 10px 0 10px;
  background: #F8F8F8;
  border: 1px solid #DDD;
  margin-bottom: 1.5em;
}

.grouping h2 {
  background: #EEE;
  margin: -10px -10px 10px -10px;
  padding: 6px 10px 3px 10px;
  border-top: 1px solid #F8F8F8;
}

.grouping .section h3 {
  background: #EEE;
  margin: -10px -10px 10px -10px;
  padding: 6px 10px 6px 10px;
  border-top: 1px solid #F8F8F8;
}

.grouping table,
.grouping .element {
  margin-bottom: 10px;
}

.grouping .section {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 10px 10px 0 10px;
  background: #F8F8F8;
  border: 1px solid #DDD;
  margin-bottom: 1.5em;
}

/* @group Login */

form#new_user_session,
form#new_user{
  width: 360px;
  margin: 0 auto;
  border: 4px solid #ccc;
  background: #eee;
  padding: 20px;
  font-size: 0.85em;
}

form#new_user_session .buttons,
form#new_user .buttons{
	margin-top: 2em;
}

form#new_user_session .button,
form#new_user .button{
  background: #777 url(images/white-overlays.png) top repeat-x;
  background-position: 0 -128px;
  text-shadow: 0 -1px 0 #666;
  -webkit-box-shadow: 1px 1px 0 #bbb;
  color: white;
  font-size: 1em;
  top: -0.25em;
  position: relative;
  -webkit-transition: none;
}

form#new_user_session .button:hover,
form#new_user .button:hover{
  background-color: #555;
}

form#new_user_session .button:active,
form#new_user .button:active {
  background: #999;
  color: #555;
  text-shadow: none;
}

/* @end */

label {
  display: block;
}

input {
  vertical-align: middle;
  font: inherit;
}

form input.inline, form label.inline {
  display: inline
}

form .errorExplanation {
  margin-bottom: 1.5em;
}

table td,
table th {
  vertical-align: middle;
  padding: 0.33em 8px;
}

/* =Nodes */

ul.node_classes, ul.node_groups {
  float: left;
  width: 100%;
  margin-bottom: 1.5em;
}

ul li.node_class, ul li.node_group {
  float: left;
  margin-right: 10px;
}

li.node_class a, li.node_group a {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #EEE;
  border: 1px solid #CCC;
  display: block;
  padding: 2px 5px;
}

li.node_class a:hover, li.node_group a:hover {
  background: #DDD;
  text-decoration: none;
}

/* @group Nodes */

#nodes {
  margin-top: 1em;
}

div.node {
  position: relative;
  padding: 8px;
  margin: 0 12px 12px 0;
  border: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
  width: 285px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background: #eee url(images/white-overlay.png) top repeat-x;
  font-size: 0.85em;
  -webkit-transition: 0.5s all ease-in-out;
}

.node .info {
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 0.5s all ease-in-out;
}

.node.active {
  background-color: #fafafa;
}

.node.active .info {
  height: auto;
  overflow: visible;
  opacity: 1;
}

.node h3 {
  font-size: 1.25em;
  padding-right: 2em;
}

.node .actions {
  
}

.node .actions a {
  font-size: 0.85em;
}

.node h4 {
  margin-top: 0.5em;
  margin-bottom: 0.25em;
  font-size: 1em;
  color: #555;
}

/* @end */

/* @group Activity */

ol.timeline li {
  list-style-type: none;
  font-size: 0.85em;
  line-height: 1.25em;
  margin-bottom: 0.67em;
  padding-left: 20px;
  position: relative;
}

span.type {
  top: 0.25em;
  left: 0;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
}

span.type span {
  display: none;
}

span.node.type {
  background: url(images/icons/computer.png);
}

/* @end */

/* @group Report */

.report h3.status {
  margin-bottom: 10px;
}

.report h3.status.success,
.report h3.status.failure {
  padding-left: 20px;
}


.report h3.status.success {
  background: url(images/icons/success.png) transparent left center no-repeat;
}

.report h3.status.failure {
  background: url(images/icons/failure.png) transparent left center no-repeat;
}
