/* =Layout */

body { background: #999; }
#content { background: #FFF; }
#main, #header { padding: 0.75em 1.5em; }
#footer { background: #AAA; color: #777; padding: .5em 1.5em; text-align: right; }

/* =Navigation */

ul#nav {
  float: left;
  font-weight: bold;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  width: 100%;
}

ul#nav li {
  float: left;
  padding-right: 2em;
}


ul#nav li a {
  border-bottom: 3px solid #FFF;
  display: block;
}

ul#nav li a:hover {
  border-bottom: 3px solid #289;
  text-decoration: none;
}

/* =Typography */

body { font: 14px/1.5em Verdana, serif;}

p  { font-size: 1em; margin-bottom: 1.5em;}

h1 { font-size: 3em;  line-height: 1em;    }
h2 { font-size: 2em;  line-height: 1.5em;  }
h3 { font-size: 1.5em;  line-height: 1em;    }
h4 { font-size: 1.16em; line-height: 1.28em; }

h1, h2, h3, h4, h5, h6 { font-family: "Helvetica Neue", Helvetica, Arial, serif; color: #333;}

/* =Links */

a { text-decoration: none; color: #289;}
a:hover { text-decoration: underline;}

/* =Margins */

h1, h2, h3, h4, h5, h6 { margin: 12px 0 6px;}

ul, ol, dl, form, table { margin: 0 0 18px; }

/* =Lists */

ul { list-style-type: disc; list-style-position: outside; margin-left: 1.25em; padding-left: 0;}
dl { width: 100%; float: left; }
dl dt { float: left; clear: left; font-weight: bold; }
dl dt { float: left; }

/* =Forms */

form .element { margin-bottom: 1.5em }
label { display: block; }
form ul { list-style-type: none; margin: 0; padding: 0;}


/* =Nodes */

ul.node_classes, ul.node_groups { float: left; width: 100%; margin-bottom: 1.5em; }
ul li.node_class, ul li.node_group { float: left; margin-right: 10px; }

li.node_class a, li.node_group a { 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #EEE;
  border: 1px solid #CCC;
  display: block;
  padding: 2px 5px;
}

li.node_class a:hover, li.node_group a:hover {
  background: #DDD;
  text-decoration: none;
}
