form {
  background: #FFF;
}

form .element {
  width: 512px;
  margin: 0 0 .5em;
}

form .element.header {
  width: 100%;
}

form .element.actions {
  background: #DDD;
  width: 100%;
  padding: .2em 0;
}

form .errors.element {
  border: 1px solid #FCC;
  background: #FEE;
  color: #F66;
}

form .errors.element h3 {
  color: #D55;
  background: #FCC;
}

form .errors ul {
  list-style: none; margin-bottom: .5em;
  padding: 0 0.5em;
}

form .errors ul li {
  padding-left: 20px;
  background: url(images/icons/failure.png) left center no-repeat;
}


form .element.errors h3 {
  padding: .2em .5em;
}

label {
  display: block;
  font-weight: bold;
}

form h3 {
  font-size: 1em;
}

form input.inline, form label.inline {
  display: inline;
}

form .errorExplanation {
  margin-bottom: 1.5em;
}

form .header input {
  border: 1px solid transparent;
  font-size: 1.45em;
  font-weight: bold;
  margin: 2px;
  width: 80%;
}

form .header label {
  display: none;
}

form textarea {
  width: 99%;
}

form.search {
  float: right;
  background: transparent;
  font-size: 12px;
  padding: 0;
}


form.search input {
  color: #444;
  margin: 0;
  padding: .4em;
  width: 20em;
  vertical-align: -1px;
}

.fieldWithErrors input {
  background: #FDD;
}

form#new_user_session,
form#new_user{
  width: 360px;
  margin: 0 auto;
  border: 4px solid #ccc;
  background: #eee;
  padding: 20px;
}

form#new_user_session .buttons,
form#new_user .buttons{
  margin-top: 2em;
}

.in-place {
  display: none;
}
