form {
  background: #FFF;
}

form .element {
  width: 512px;
  margin: 0 0 .5em;
}

form .element.header {
  width: 100%;
}

form .element.actions {
  background: #DDD;
  width: 100%;
  padding: .2em 0;
}

label {
  display: block;
  font-weight: bold;
}

form input.inline, form label.inline {
  display: inline;
}

form .errorExplanation {
  margin-bottom: 1.5em;
}

form .header input {
  width: 99.5%;
  font-size: 18px;
  padding: .25em .25%;
  border: 1px solid #EEE;

  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

form .header label {
  display: none;
}

form textarea {
  width: 99%;
}

form.search {
  float: right;
  background: transparent;
  font-size: 12px;
  padding: 0;
}


form.search input {
  color: #444;
  margin: 0;
  padding: .35em;
  width: 20em;
}

.element {
  margin-bottom: .5em;
}

.errors.element {
  border-color: #FCC;
  color: #F66;
}

.errors.element h3 {
  color: #D55;
  background: #FCC;
}

.errors ul {
  list-style: none; margin-bottom: .5em;
}

.errors ul li {
  padding-left: 20px;
  background: url(images/icons/failure.png) left center no-repeat;
}

.fieldWithErrors input {
  background: #FDD;
}

form#new_user_session,
form#new_user{
  width: 360px;
  margin: 0 auto;
  border: 4px solid #ccc;
  background: #eee;
  padding: 20px;
}

form#new_user_session .buttons,
form#new_user .buttons{
  margin-top: 2em;
}

/* @end */
