#header {
  padding: 1em 0 0;
}

#header ul#secondary-navigation {
  float: right;
  top: -1.5em;
}

#header ul#secondary-navigation li {
  list-style-type: none;
  float: left;
  margin-right: 0.8em;
}

#header ul.navigation > li {
  display: block;
  float: left;
  margin-right: 1em;
}

#header ul.navigation > li.active > a,
#header ul.navigation > li.active > a:hover {
  font-weight: bold;
}
