.with-help {
  position: relative;
  /* won't someone think of the children? */ }

.help {
  position: absolute;
  top: 2px;
  right: 4px; }
  .help a {
    text-indent: -9999px;
    background: transparent url("../images/icons/help.png") no-repeat 0% 50%;
    cursor: pointer;
    width: 16px;
    height: 16px;
    display: block; }
