/*
    IMPORTANT: This stylesheet is processed using SASS!

    Edit this file:
        public/stylesheets/sass/inner.scss

    And after a Rails action, it'll generate a fresh copy of:
        public/stylesheets/inner.css

    Be sure to edit the right file, all changes to the .css file will be lost!
*/
/******************************************************************************
*                      GLOBAL STYLES, VARIABLES, MIXINS                       *
******************************************************************************/
/*******************************************************************************
*                              STRUCTURAL RULES                                *
*******************************************************************************/
#wrap {
  margin: 0 1em 1em; }

#header {
  margin-bottom: 1em;
  padding: 1em 0 0; }
  #header ul#secondary-navigation {
    float: right;
    top: -1.5em; }
    #header ul#secondary-navigation li {
      list-style-type: none;
      float: left;
      margin-right: 0.8em; }
  #header ul.navigation li {
    list-style-position: outside;
    padding-left: 0.3em;
    margin-left: 1.0em;
    margin-right: 1em;
    float: left; }
    #header ul.navigation li.active > a, #header ul.navigation li.active > a:hover {
      font-weight: bold; }
    #header ul.navigation li a {
      vertical-align: middle; }
  #header li:first-child {
    list-style-type: none; }
  #header #logo a {
    background-position: top center;
    display: inline-block;
    position: relative;
    top: 1px; }
    #header #logo a:hover {
      background-position: bottom center; }

#content {
  padding: 1.5em 0 2em; }

#sidebar {
  width: 20%;
  float: left;
  clear: left; }
  #sidebar h3 {
    margin: 0; }
  #sidebar a.fold {
    width: 1em;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: bold; }
  #sidebar ul {
    list-style: none; }

body.with-sidebar #main {
  width: 80%;
  float: left; }

body.no-sidebar #main,
body #main.full {
  width: 100%; }

#list {
  max-height: 300px;
  overflow: auto; }

#item {
  background: #FFF; }

.errors ul {
  list-style: none;
  margin-bottom: .5em;
  padding: 0 0.5em; }

.errors li {
  padding-left: 20px;
  background: url(images/icons/failure.png) left center no-repeat; }

.element.errors h3 {
  padding: .2em .5em;
  color: #D55;
  background: #FCC; }

form h3 {
  font-size: 1em; }

form input.inline,
form label.inline {
  display: inline; }

form .header input {
  border: 1px solid transparent;
  font-size: 1.45em;
  font-weight: bold;
  margin: 2px;
  width: 80%; }

form input[readonly] {
  background-color: #EEE; }

form .header label {
  display: none; }

form textarea {
  width: 99%; }

form.search {
  float: right;
  background: transparent;
  padding: 0; }

form.search input {
  color: #444;
  width: 20em;
  margin: 0;
  line-height: 1.4em;
  padding: .35em;
  border: 1px solid #CCC; }

form.search button {
  margin: 0.25em 0.25em 0.25em 0em; }

.fieldWithErrors input {
  background: #FDD; }

table.main,
table.inspector {
  border-collapse: collapse;
  width: 100%;
  background: #FFF;
  border: 1px solid #DDD; }

table.inspector {
  margin-bottom: 1em; }

table.main th,
table.inspector th {
  background: #eeeeee -moz-linear-gradient(top, #f8f8f8, #e8e8e8);
  background: #eeeeee -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e8e8e8));
  border: 1px solid #DDD;
  padding: 0 .5em;
  color: #888; }

table.main td,
table.inspector td {
  border: 1px solid #DDD;
  padding: .25em .5em .15em;
  vertical-align: top; }

table.inspector tbody tr:nth-child(even) td,
table.main tbody tr:nth-child(even) td {
  background: #F5F5F5; }

table.main tbody tr.active td {
  background: #BFE2EC; }

table.main tfoot td {
  background: #DDD; }

th.check,
td.check {
  width: 1px;
  margin: 0; }

th.check input,
td.check input {
  margin: 0 -0.2em;
  padding: 0; }

th.status,
td.status {
  width: 2em;
  color: #AAA;
  padding: 0;
  text-align: center;
  vertical-align: middle; }

th.status span,
td.status span {
  font-weight: bold; }

th.status span {
  top: .1em; }

td.status.success {
  color: green; }

td.status.failure {
  color: red; }

tr.status.failure td {
  background-color: #ffb7b7; }

tr:nth-child(even).status.failure td {
  background-color: #ffc7c7; }

tbody tr.status.changed {
  background-color: #FF9; }

table.inspector td.key,
table.inspector td.value {
  vertical-align: top;
  text-align: left; }

table.inspector td.key {
  width: 20%; }

table.inspector td.value {
  width: 100%; }

table.inspector tfoot td {
  border: 1px solid #DDD;
  background: #DDD; }

table.inspector input {
  padding: 5px 1%;
  width: 97%;
  margin: 0; }

table.inspector td.total {
  font-weight: bold; }

th.empty {
  text-align: left;
  background: transparent !important;
  padding-left: 1em !important; }

td.empty {
  text-align: center;
  color: #999;
  background: #F8F8F8; }

.inspect-report .non-expandable-bullet:before {
  content: url("../../images/icons/bullet_red.png"); }

.expandable-list th {
  font-weight: bold; }

.expandable-list td,
.expandable-list th {
  padding: .25em .5em .15em; }

.content h4 {
  margin-top: 1em; }

.header input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

span.count {
  color: #999; }

span.alt {
  color: #999;
  font-family: "Georgia", sefif;
  font-weight: normal;
  font-style: italic; }

p.error {
  color: #C33;
  background: #FEE;
  padding: .5em 1em; }

ul.actions {
  position: absolute;
  right: 1px;
  top: 1px; }

ul.actions li {
  display: inline-block; }

a.cancel {
  color: #888; }

a.icon span {
  display: none; }

span.type {
  top: 0.25em;
  left: 0;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px; }

span.type span {
  display: none; }

span.node.type {
  background: url(images/icons/computer.png); }

/* Example tokeninput style #2: Facebook style */
ul.token-input-list-facebook {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  width: 400px;
  border: 1px solid #8496ba;
  cursor: text;
  font-size: 12px;
  font-family: Verdana;
  min-height: 1px;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: #fff; }

ul.token-input-list-facebook {
  list-style-type: none; }

ul.token-input-list-facebook li input {
  border: 0;
  width: 100px;
  padding: 3px 8px;
  background-color: white;
  margin: 2px 0; }

li.token-input-token-facebook {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  margin: 3px;
  padding: 1px 3px;
  background-color: #eff2f7;
  color: #000;
  cursor: default;
  border: 1px solid #ccd5e4;
  font-size: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left; }

li.token-input-token-facebook p {
  display: inline;
  padding: 0;
  margin: 0; }

li.token-input-token-facebook span {
  color: #a6b3cf;
  margin-left: 5px;
  font-weight: bold;
  cursor: pointer; }

li.token-input-selected-token-facebook {
  background-color: #5670a6;
  border: 1px solid #3b5998;
  color: #fff; }

li.token-input-input-token-facebook {
  float: left; }

div.token-input-dropdown-facebook {
  position: absolute;
  width: 400px;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-size: 11px;
  font-family: Verdana;
  z-index: 1; }

div.token-input-dropdown-facebook p {
  margin: 0;
  padding: 5px;
  font-weight: bold;
  color: #777; }

div.token-input-dropdown-facebook ul {
  margin: 0;
  padding: 0; }

div.token-input-dropdown-facebook ul li {
  background-color: #fff;
  padding: 3px; }

div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook {
  background-color: #fff; }

div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
  background-color: #fff; }

div.token-input-dropdown-facebook ul li em {
  font-weight: bold;
  font-style: none; }

div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
  background-color: #3b5998;
  color: #fff; }

#footer p {
  clear: both;
  padding-top: 1em;
  color: #777; }
  #footer p a {
    color: inherit; }

.header {
  -webkit-border-radius: 0.35em 0.35em 0 0;
  -moz-border-radius: 0.35em 0.35em 0 0;
  border-radius: 0.35em 0.35em 0 0;
  background: #DDD;
  padding: 0;
  margin: 0;
  position: relative; }
  .header h2,
  .header input {
    border: 1px solid transparent;
    margin: 0 2px;
    padding: 0 .25em;
    line-height: 1.75em; }
  .header h2.half {
    width: 0%;
    margin-right: 5%;
    float: left;
    white-space: nowrap; }
  .header h2 img {
    vertical-align: -0.15em; }

p.legend {
  color: #999;
  margin-bottom: 0; }

ol.timeline li {
  list-style-type: disc;
  margin-left: 2em; }
  ol.timeline li span.date {
    color: #666;
    display: inline-block;
    width: 12em; }

ul .status {
  list-style: none; }
ul li {
  /* drop down menu */ }
  ul li .dropdown {
    display: none;
    left: 0;
    position: absolute;
    top: 1.5em;
    background: #FFF;
    border: 1px solid #CCC;
    color: #666;
    font-size: 14px;
    width: 15em;
    z-index: 7; }
    ul li .dropdown ul {
      width: 100%;
      margin-bottom: .25em;
      max-height: 30em;
      overflow: auto; }
    ul li .dropdown li {
      list-style: none; }
      ul li .dropdown li a {
        display: block;
        padding: .2em .5em; }
    ul li .dropdown .actions {
      border-top: 1px solid #DDD;
      background-color: #EEE;
      clear: both;
      padding: .25em .5em; }
    ul li .dropdown input {
      display: inline;
      vertical-align: middle; }

span.sparkline {
  vertical-align: bottom; }

div.flot-graph {
  margin-bottom: 10px;
  width: 100%; }

a.button {
  display: inline-block; }

a.button,
button {
  -webkit-border-radius: 0.35em 0.35em 0.35em 0.35em;
  -moz-border-radius: 0.35em 0.35em 0.35em 0.35em;
  border-radius: 0.35em 0.35em 0.35em 0.35em;
  background: #5c80a8;
  background: -moz-linear-gradient(top, #7d9aba, #496788);
  background: -webkit-gradient(linear, center top, center bottom, from(#7d9aba), to(#496788));
  border: 1px solid #DDD;
  border-color: #CCC #AAA #AAA #CCC;
  color: white;
  cursor: pointer;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0.25em;
  padding: .15em .65em;
  white-space: nowrap; }
  a.button:hover,
  button:hover {
    text-decoration: none;
    color: #FFFFCC;
    background: #7d9aba -moz-linear-gradient(top, #9fb4cb, #5c80a8);
    background: #7d9aba -webkit-gradient(linear, 0% 0%, 0% 100%, from(#9fb4cb, to(#5c80a8))); }
  a.button:active,
  button:active {
    background: #496788 -moz-linear-gradient(top, #5c80a8, #374e67);
    background: #496788 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5c80a8, to(#374e67))); }
  a.button.drop:after,
  button.drop:after {
    content: "   \002193"; }

a.button.warning,
button.warning {
  background: #C66; }

.header a.button,
.header button {
  font-size: 1.2em;
  margin: .15em 0; }

.header ul.actions {
  margin-left: .25em; }

.group {
  -webkit-border-radius: 0.35em 0.35em 0.35em 0.35em;
  -moz-border-radius: 0.35em 0.35em 0.35em 0.35em;
  border-radius: 0.35em 0.35em 0.35em 0.35em;
  position: relative;
  border: 1px solid #DDD;
  background: #FFF;
  margin: 0 1em 1em 0; }
  .group h3 {
    -webkit-border-radius: 0.35em 0.35em 0 0;
    -moz-border-radius: 0.35em 0.35em 0 0;
    border-radius: 0.35em 0.35em 0 0;
    color: #444;
    line-height: 1.25em;
    position: relative;
    display: block;
    background: #DDD; }
    .group h3.active {
      background: #d2dde5; }
    .group h3 a {
      display: block;
      padding: .25em .5em; }
  .group .footer.actionbar {
    -webkit-border-radius: 0 0 0.35em 0.35em;
    -moz-border-radius: 0 0 0.35em 0.35em;
    border-radius: 0 0 0.35em 0.35em; }
  .group span.count {
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    color: #FFF;
    font-size: 12px;
    padding: 0 .4em;
    text-align: center;
    background: #CCC; }
  .group ul {
    max-height: 20em;
    overflow: auto;
    border-top: 1px solid #D8D8D8; }
    .group ul li {
      position: relative;
      font-size: 12px;
      border-bottom: 1px solid #EEE; }
      .group ul li:last-child {
        border: 0; }
      .group ul li.active {
        background: #FFFFCC; }
      .group ul li a {
        padding: .25em .5em;
        display: block; }
      .group ul li span.count {
        background: #DDD; }
        .group ul li span.count.failure {
          background: #DD9B9B; }

.actionbar {
  -webkit-border-radius: 0 0 0.35em 0.35em;
  -moz-border-radius: 0 0 0.35em 0.35em;
  border-radius: 0 0 0.35em 0.35em;
  background: #DDD;
  padding: 1px; }
  .actionbar form {
    padding: .25em; }
  .actionbar .pagination {
    font-size: 12px;
    padding: .1em .5em;
    float: left;
    padding-left: 0.5em; }
    .actionbar .pagination a,
    .actionbar .pagination span {
      padding: 0 0.2em; }
  .actionbar .dropdown {
    top: 1.75em; }
  .actionbar ul {
    float: left;
    list-style: none;
    margin-right: .25em; }
    .actionbar ul li {
      float: left;
      position: relative; }

.section#flash {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  position: relative; }
  .section#flash .close {
    position: absolute;
    top: 0;
    right: 0; }
  .section#flash img {
    vertical-align: top; }

ul.tabbed {
  display: none;
  font: bold 14px Arial;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0; }
  ul.tabbed li {
    -webkit-border-radius: 0.35em 0.35em 0 0;
    -moz-border-radius: 0.35em 0.35em 0 0;
    border-radius: 0.35em 0.35em 0 0;
    background: #CCC;
    list-style: none;
    float: left;
    border: solid 1px #CCC;
    margin-right: 4px;
    color: white; }
    ul.tabbed li a {
      color: #fff;
      padding: 4px 1em;
      display: block;
      cursor: pointer; }
    ul.tabbed li a:hover {
      text-decoration: underline; }
    ul.tabbed li.active {
      border-bottom-color: white;
      background-color: white;
      color: #2C66A8; }
      ul.tabbed li.active a {
        color: #2C66A8; }

ul.tabbed {
  display: block;
  display: block; }
  ul.tabbed:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden; }

body.reports-show-action .section,
body.pages-home-action .section {
  margin: 0; }
body.reports-show-action h4,
body.pages-home-action h4 {
  color: #444; }
body.reports-show-action table.inspector td.key,
body.pages-home-action table.inspector td.key {
  text-align: right;
  white-space: nowrap; }
body.reports-show-action tr.puppet-log.puppet-log-level-err:nth-child(even) td,
body.pages-home-action tr.puppet-log.puppet-log-level-err:nth-child(even) td {
  background: #ffc7c7; }
body.reports-show-action tr.puppet-log.puppet-log-level-err td,
body.pages-home-action tr.puppet-log.puppet-log-level-err td {
  background: #ffd6d6; }
body.reports-show-action tr.puppet-log.puppet-log-level-warning:nth-child(even) td,
body.pages-home-action tr.puppet-log.puppet-log-level-warning:nth-child(even) td {
  background: #ffe4c7; }
body.reports-show-action tr.puppet-log.puppet-log-level-warning td,
body.pages-home-action tr.puppet-log.puppet-log-level-warning td {
  background: #ffebd6; }

.node-summary table {
  width: 100%; }
  .node-summary table .count {
    font-weight: bold;
    padding-left: .3em; }
  .node-summary table .count,
  .node-summary table .graph {
    padding-left: .3em; }
  .node-summary table .count,
  .node-summary table .label {
    padding-top: .2em; }
.node-summary table.primary tr {
  cursor: pointer;
  position: relative; }
  .node-summary table.primary tr.unresponsive a {
    color: #888888; }
  .node-summary table.primary tr.unresponsive .percent a {
    background-color: #888888; }
  .node-summary table.primary tr.unresponsive.hover, .node-summary table.primary tr.unresponsive.active, .node-summary table.primary tr.unresponsive:hover {
    background-color: #888888; }
    .node-summary table.primary tr.unresponsive.hover a, .node-summary table.primary tr.unresponsive.active a, .node-summary table.primary tr.unresponsive:hover a {
      color: #fff;
      text-decoration: none; }
    .node-summary table.primary tr.unresponsive.hover .percent a, .node-summary table.primary tr.unresponsive.active .percent a, .node-summary table.primary tr.unresponsive:hover .percent a {
      background-color: #fff; }
  .node-summary table.primary tr.failed a {
    color: #cc2211; }
  .node-summary table.primary tr.failed .percent a {
    background-color: #cc2211; }
  .node-summary table.primary tr.failed.hover, .node-summary table.primary tr.failed.active, .node-summary table.primary tr.failed:hover {
    background-color: #cc2211; }
    .node-summary table.primary tr.failed.hover a, .node-summary table.primary tr.failed.active a, .node-summary table.primary tr.failed:hover a {
      color: #fff;
      text-decoration: none; }
    .node-summary table.primary tr.failed.hover .percent a, .node-summary table.primary tr.failed.active .percent a, .node-summary table.primary tr.failed:hover .percent a {
      background-color: #fff; }
  .node-summary table.primary tr.pending a {
    color: #ee7722; }
  .node-summary table.primary tr.pending .percent a {
    background-color: #ee7722; }
  .node-summary table.primary tr.pending.hover, .node-summary table.primary tr.pending.active, .node-summary table.primary tr.pending:hover {
    background-color: #ee7722; }
    .node-summary table.primary tr.pending.hover a, .node-summary table.primary tr.pending.active a, .node-summary table.primary tr.pending:hover a {
      color: #fff;
      text-decoration: none; }
    .node-summary table.primary tr.pending.hover .percent a, .node-summary table.primary tr.pending.active .percent a, .node-summary table.primary tr.pending:hover .percent a {
      background-color: #fff; }
  .node-summary table.primary tr.changed a {
    color: #006699; }
  .node-summary table.primary tr.changed .percent a {
    background-color: #006699; }
  .node-summary table.primary tr.changed.hover, .node-summary table.primary tr.changed.active, .node-summary table.primary tr.changed:hover {
    background-color: #006699; }
    .node-summary table.primary tr.changed.hover a, .node-summary table.primary tr.changed.active a, .node-summary table.primary tr.changed:hover a {
      color: #fff;
      text-decoration: none; }
    .node-summary table.primary tr.changed.hover .percent a, .node-summary table.primary tr.changed.active .percent a, .node-summary table.primary tr.changed:hover .percent a {
      background-color: #fff; }
  .node-summary table.primary tr.unchanged a {
    color: #009933; }
  .node-summary table.primary tr.unchanged .percent a {
    background-color: #009933; }
  .node-summary table.primary tr.unchanged.hover, .node-summary table.primary tr.unchanged.active, .node-summary table.primary tr.unchanged:hover {
    background-color: #009933; }
    .node-summary table.primary tr.unchanged.hover a, .node-summary table.primary tr.unchanged.active a, .node-summary table.primary tr.unchanged:hover a {
      color: #fff;
      text-decoration: none; }
    .node-summary table.primary tr.unchanged.hover .percent a, .node-summary table.primary tr.unchanged.active .percent a, .node-summary table.primary tr.unchanged:hover .percent a {
      background-color: #fff; }
  .node-summary table.primary tr.unreported a {
    color: #aaaaaa; }
  .node-summary table.primary tr.unreported .percent a {
    background-color: #aaaaaa; }
  .node-summary table.primary tr.unreported.hover, .node-summary table.primary tr.unreported.active, .node-summary table.primary tr.unreported:hover {
    background-color: #aaaaaa; }
    .node-summary table.primary tr.unreported.hover a, .node-summary table.primary tr.unreported.active a, .node-summary table.primary tr.unreported:hover a {
      color: #fff;
      text-decoration: none; }
    .node-summary table.primary tr.unreported.hover .percent a, .node-summary table.primary tr.unreported.active .percent a, .node-summary table.primary tr.unreported:hover .percent a {
      background-color: #fff; }
  .node-summary table.primary tr.all a {
    color: black; }
  .node-summary table.primary tr.all .percent a {
    background-color: black; }
  .node-summary table.primary tr.all.hover, .node-summary table.primary tr.all.active, .node-summary table.primary tr.all:hover {
    background-color: black; }
    .node-summary table.primary tr.all.hover a, .node-summary table.primary tr.all.active a, .node-summary table.primary tr.all:hover a {
      color: #fff;
      text-decoration: none; }
    .node-summary table.primary tr.all.hover .percent a, .node-summary table.primary tr.all.active .percent a, .node-summary table.primary tr.all:hover .percent a {
      background-color: #fff; }
  .node-summary table.primary tr td {
    font-size: 1.4em;
    padding-bottom: .5em; }
    .node-summary table.primary tr td.count {
      text-align: right;
      padding-right: 0.3em; }
    .node-summary table.primary tr td.percent {
      display: block;
      position: absolute;
      left: 0.6em;
      right: 0.6em;
      margin-top: 1.3em; }
      .node-summary table.primary tr td.percent a {
        text-indent: -9999px;
        display: block;
        height: 3px;
        clear: left; }
.node-summary table.secondary {
  padding-top: .5em;
  border-top: 1px solid #ccc;
  margin-top: .5em; }
  .node-summary table.secondary tr.active {
    background-color: #2c66a8; }
    .node-summary table.secondary tr.active a {
      color: #fff; }
  .node-summary table.secondary td {
    font-size: 1.2em;
    padding: .2em .3em; }

/* Facebook-style token autocompletion */
ul.token-input-list-facebook {
  width: 100%; }

div.token-input-dropdown-facebook.token-input-dropdown-facebook {
  background-color: #FFFFED;
  width: 450px; }
div.token-input-dropdown-facebook ul li.token-input-dropdown-item-facebook, div.token-input-dropdown-facebook ul li.token-input-dropdown-item2-facebook {
  background-color: #FFFFED;
  list-style-type: none; }
div.token-input-dropdown-facebook ul li.token-input-selected-dropdown-item-facebook {
  background-color: #FFFDA4;
  color: #000; }

body.delayed_job_failures_controller dl dt {
  color: #999; }
  body.delayed_job_failures_controller dl dt strong {
    color: #000; }
  body.delayed_job_failures_controller dl dt em {
    color: #000;
    font-weight: normal; }
body.delayed_job_failures_controller dl dd {
  padding-bottom: .3em;
  border-bottom: 1px solid #eee;
  margin-bottom: .3em; }

#mark-as-read {
  margin-bottom: 1em; }

.delayed-job p {
  padding: .5em 1em 0 1em;
  margin: 0; }
  .delayed-job p em,
  .delayed-job p a {
    padding-left: 20px;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    margin-bottom: .5em; }
  .delayed-job p.ok em {
    background: transparent url(/images/icons/delayed-job-ok.png) no-repeat 0% 50%; }
  .delayed-job p.failure a {
    background-image: url(/images/icons/delayed-job-failure.png); }
  .delayed-job p.warning em {
    background-image: url(/images/icons/delayed-job-warning.png); }

.help a {
  text-indent: -9999px;
  background: transparent url("../images/icons/help.png") no-repeat 0% 50%;
  cursor: pointer;
  width: 16px;
  height: 16px;
  display: block; }
