#wrap {
  margin: 0 1em 1em;
}

#header {
  margin-bottom: 1em;
}

#content #sidebar { width: 20%; float: left; }

#content #main { width: 80%; float: left; }
#content #main #list {
  max-height: 300px;
  overflow: auto;
}
#content #main #item {
  background: #FFF;
}
