#wrap {
  margin: 0 1em 1em;
}

#skiptargetholder {
  position: absolute;
  left: -200%;
}

#header {
  margin-bottom: 1em;
}

#content #sidebar { width: 20%; float: left; clear: left; }

body.with-sidebar #content #main { width: 80%; float: left; }
body.no-sidebar #content #main { width: 100%; }

#content #main.full { width: 100%; }

#content #main #list {
  max-height: 300px;
  overflow: auto;
}
#content #main #item {
  background: #FFF;
}
