.table-tools:hover a.add.button,
caption:hover a.add.button,
.section:hover a.add.button {
  background: #376e1b url(images/white-overlays.png) repeat-x 0 -128px;
  text-shadow: #386522 0 -1px 0;
  color: white;
}

a.button {
  text-shadow: 0 -1px 0 #888;
  -webkit-box-shadow: 1px 1px 0 #bbb;
}

a.button {
  -webkit-box-shadow: 1px 1px 1px #999;
  -webkit-transition: 0.125s all ease-in-out;
}
