#popupWindowGlass, #popupWindowLayoutHelperTable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#popupWindowGlass {
  background-color: black;
  opacity: 0.4;
}

#popupWindowLayoutHelperTable {
  display: table;
  width: 100%;
  height: 100%;
}

#popupWindowLayoutHelperTableCell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#popupWindow {
  background-color: white;
  display: inline-block;
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  text-align: left;
}

#popupWindowButtons {
  margin-top: 20px;
}