.report .status.success,
.report .status.failure {
  padding-left: 20px;
}

.report .status.success {
  background: url(images/icons/success.png) left center no-repeat;
}

.report .status.failure {
  background: url(images/icons/failure.png) left center no-repeat;
}

