table.main, table.inspector {
  border-collapse: collapse;
  width: 100%;
  background: #FFF;
  border: 1px solid #DDD;
}

table.inspector { margin-bottom: 1em; }

table.main thead th,
table.inspector thead th {
  background: #EEE -moz-linear-gradient(top, #F8F8F8, #E8E8E8);
  background: #EEE -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F8F8F8), to(#E8E8E8));
  border: 1px solid #DDD;
  padding: 0 .5em;
  color: #888;
}

table.inspector tbody td,
table.main tbody td {
  border: 1px solid #DDD;
  padding: .25em .5em .15em;
  vertical-align: top;
}

table.inspector tbody tr:nth-child(even) td,
table.main tbody tr:nth-child(even) td {
  background: #F5F5F5;
}

table.main tbody tr.active td {
  background: #BFE2EC;
}

table.main tfoot td {
  background: #DDD;
}

table thead th.check, table tbody td.check {
  width: 1px;
  margin: 0;
}

table thead th.check input, table tbody td.check input {
  margin: 0 -.2em;
  padding: 0;
}

table thead th.status, table tbody td.status {
  width: 2em;
  color: #AAA;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}

table thead th.status span, table tbody td.status span {
  font-weight: bold;
}

table thead th.status span {
  top: .1em;
}

table tbody td.status.success {
  color: green;
}

table tbody td.status.failure {
  color: red;
}

table tbody tr.status.failure td {
  background-color: #ffb7b7;
}
table tbody tr:nth-child(even).status.failure td {
  background-color: #ffc7c7;
}

table tbody tr.status.changed {
  background-color: #FF9;
}

table.inspector td.key,
table.inspector td.value {
  vertical-align: top;
  text-align: left;
}

table.inspector td.key {
  width: 20%;
}

table.inspector td.value {
  width: 100%;
}

table.inspector tfoot td {
  border: 1px solid #DDD;
  background: #DDD;
}

form table.inspector input {
  padding: 5px 1%;
  width: 97%;
  margin: 0;
}

body table.inspector tbody tr td.total {
  font-weight: bold;
}

table td.empty {
  text-align: center;
  color: #999;
  background: #F8F8F8;
}
/* this isn't even really a table anymore */
.expandable-list {
  padding : 1em;
  background : #fff;
  width : auto;
}
.expandable-list .even {
  background: #F5F5F5;
}
.expandable-list .expandable {
  margin-bottom : 1em;
}
.expandable-list .collapsed {
  display: none;
}
.expandable-list .expandable-link.collapsed-link:before {
  content: url('../../images/icons/bullet_toggle_plus.png');
}
.expandable-list .expandable-link:before {
  content: url('../../images/icons/bullet_toggle_minus.png');
}
.expandable-list .non-expandable-bullet:before {
  content: url('../../images/icons/bullet_green.png');
}
.expandable-list .expandable-link, .expandable-list .non-expandable-bullet {
  vertical-align: bottom;
}
.expandable-list-item {
  display: inline-block;
  vertical-align: bottom;
}
.expandable-list table th {
  font-weight : bold;
}
.expandable-list table td,
.expandable-list table th {
  padding : .25em .5em .15em;
}
.content {
  padding : 1em;
  background : #fff;
}
.content h4 {
  margin-top : 1em;
}
