.section.half
  %h3 Classes
  - unless resource.node_class_list.empty?
    %table.inspector
      %thead
        %tr
          %th.name Class
          %th Source groups
      %tbody
        - resource.node_class_list.each do |node_class,parents|
          %tr
            %td.name
              %strong= link_to(node_class.name,node_class)
            %td
              = parents.map{|p| link_to(p.name,p)}.join(", ") unless parents.include?(resource)
  - else
    = describe_no_matches_as 'No classes'
