.section.half
  %h3 Groups
  - unless resource.all_node_groups.empty?
    %table.inspector
      %thead
        %tr
          %th{:scope => :col} Group
          %th{:scope => :col} Source
      %tbody
        - resource.node_groups_with_sources.sort.each do |group,sources|
          %tr
            %td
              %strong= link_to(h(group.name),group)
            %td
              - if sources.include?(resource)
                = h resource.name
              - else
                = sources.map{|source| link_to(h(source.name),source)}.join(", ")
  - else
    = describe_no_matches_as 'No groups'
