%table.node_summary
  %tr{:style => 'text-color: white;'}
    %td{:colspan => 2}
      Puppet Node Summary
      %span#status

  - @node_summary['display'].each do |status_pair|
    - status = status_pair['key']
    - node_count = @node_summary[status]
    - all_node_count = @node_summary['all']
    - if (status == 'all')
      - percent = '0'
    - else
      - percent = percentage(node_count, all_node_count)

    %tr{:class => status}
      %td.count_column
        %p.count
          %span
            = node_count
      %td
        %div
          %p.label
            %span
              = status_pair['name']
          %p.percent{:style => "width: #{percent}%"}
            %span
              = status_pair['name']
