%ul#secondary-navigation
  - unless current_user
    %li= link_to "Register", new_account_path
    %li= link_to "Log In", new_user_session_path
  - else
    %li= link_to "My Account", account_path
    %li= link_to "Logout", user_session_path, :method => :delete
