.section
  %h3 Variables
  - # Conflicting variables are okay here, since we just want to warn
  - unless resource.compiled_parameters(true).empty?
    - if resource.errors.on(:parameters)
      %p.error
        %strong Warning:
        Variable values conflict.
    %table.inspector
      %thead
        %tr
          %th{:scope => :col} Key
          %th{:scope => :col} Value
          %th{:scope => :col} Source
      %tbody
        - resource.compiled_parameters(true).sort_by{ |param| param[:name] }.each do |param|
          %tr
            = render 'shared/parameters_part1', :param => param, :node_class_id => nil
  - else
    = describe_no_matches_as 'No variables'
