- nodes = paginate_scope(local_assigns[:nodes], {:per_page => 10})
- if nodes.length > 0 then
  %table.main
    %thead
      %tr
        %th
        %th(colspan="5")
          Resources
      %tr
        %th
        %th
          All
        %th
          Failed
        %th
          Pending
        %th
          Changed
        %th
          Unchanged
    %tbody
      - nodes.each do |node|
        %tr
          %th
            = link_to h(node.name), node
          - ["total", "failed", "pending", "changed", "unchanged"].each do |status|
            %th
              = node.last_apply_report.metric_value("resources", status).to_i
- else
  &mdash; No nodes matching &mdash;
