#main.full
  .header
    %h2 Dashboard
  #item
    .element
      %h3 Run Success
      = render :partial => 'statuses/run_failure'

    %h3 Recent Node Reports
    = render 'nodes/nodes', :nodes => @nodes
