= header_for(form)

.item
  .section
    = h form.error_messages

    %h3 Assigned To Node:
    = link_to @node.name, node_path(@node)

  .section
    .element
      = render :partial => 'parameters/parameter_input', :object => form.object.parameters
