- te = timeline_event

%li{:class => te.object_type}
  = link_to_unless te.secondary_subject_type,  te.subject_name, te.subject
  = te.action
  = te.secondary_name if te.secondary_subject_type
  = time_ago_in_words(te.created_at)
  ago
