- form_for @node_group do |f|
  .errors
    = error_messages_for(:node_group)
  = render f

  %button{:type => "submit", :class => "button"} Update
  = link_to 'Cancel', f.object, :rel => 'inspect', :class => "cancel"