- content_for :primary_content do
  = render :partial => 'node_groups/node_groups'

- form_for @node_group, :html => {:class => 'inspect'} do |f|
  = f.error_messages
  = render f

  %button{:type => "submit", :class => "button"} Update
  = link_to 'Cancel', f.object, :rel => 'inspect', :class => "cancel"
