- unless @node_groups.empty?
  %table.inspector
    %thead
      %tr
        %th.key Name
        %th.value{:colspan => 2} Description
    %tbody
      - @node_groups.each do |group|
        %tr[group]
          %td.key= link_to group.name, group
          %td
            = group.description
            = hidden_field_tag 'node[node_groups[]', group.id, :disabled => true
          %td.actions
            %a.icon.add{:href => '#'}
              %span(add)
