ul.actions {
  position: absolute;
  right: 1px;
  top: 1px;
}

ul.actions li {
  display: inline-block;
}

a.cancel {
  color: #888;
}
.icon {
  display: inline-block;
  height: 100%;
  width: 16px;
  text-indent: -9999px;
  vertical-align: baseline;
}

a.icon span { display: none; }

.icon.success {
  background: url(images/icons/success.png) transparent center center no-repeat;
}

.icon.failed {
  background: url(images/icons/failure.png) transparent center center no-repeat;
}

.icon.add {
  background: url(images/icons/add.png) transparent center center no-repeat;
}

.icon.delete {
  background: url(images/icons/delete.png) transparent center center no-repeat;
}

span.type {
  top: 0.25em;
  left: 0;
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
}

span.type span {
  display: none;
}

span.node.type {
  background: url(images/icons/computer.png);
}
