body {
  font-family: Helvetica, Arial, Verdana, sans-serif;
  line-height: 18px;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6,
.actions, .button, .navigation,
.header input, button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: bold;
  margin-bottom: .5em;
}

h1 {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom: 0.33em;
}

h2 {
  font-size: 1.45em;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.25em;
  line-height: 1em;
}

#sidebar h3 {
  margin: 0;
}

h4 {
  font-size: 1em;
  line-height: 1.28em;
}

p {
  font-size: 1em;
  margin-bottom: 1.5em;
}

a {
  text-decoration: none;
  color: #2C66A8;
}

a:hover {
  text-decoration: underline;
}

span.count {
  color: #999;
}

span.alt {
  color: #999;
  font-family: "Georgia", sefif;
  font-weight: normal;
  font-style: italic;
}

strong {
  font-weight: bold;
}

code, pre {
  font-family: "Monaco", "Courier New", Courier, fixed-width;
}

p.error {
  color: #C33;
  background: #FEE;
  padding: .5em 1em;
}

input {
  font-size: 1em;
}
