#sidebar= render 'shared/node_manager_sidebar'
#main
  - @node_class_id = @node_group_class_membership.node_class_id
  - @node_class = NodeClass.find_by_id(@node_class_id)
  - @node_group_id = @node_group_class_membership.node_group_id
  - @node_group = NodeGroup.find_by_id(@node_group_id)

  - form_for(@node_group_class_membership) do |f|
    = render f
    .element.actions
      %button Update
      or go to
      = link_to @node_group.name, node_group_path(@node_group)
