- total = metric.values.detect{|klass, _, _| klass == :total}
- values = metric.values.reject{|klass, _, _| klass == :total}.sort_by{|_, name, _| name}
- values << total if total
%tbody
  - values.each do |klass, name, value|
    %tr
      %td.key{:class => klass.to_s}= name
      %td.value{:class => klass.to_s}
        - if metric.name == "time"
          = "%0.2f" % value.to_f
          seconds
        - else
          = value
