.section
  %h3 Log
  - if report.logs.present?
    .section
      %table.inspector
        %thead
          %tr
            %th{:scope => :col} Level
            %th{:scope => :col} Message
            %th{:scope => :col} Source
            %th{:scope => :col} File
            %th{:scope => :col} Line
            %th{:scope => :col} Time
        %tbody
          = render :partial => 'puppet/util/logs/log', :collection => puppet_log_sorter(report.logs.compact)
  - else
    %p= describe_no_matches_for(:logs, :report)
