.section
  %h3 Log
  - if report.logs.present?
    .section
      %table.inspector
        %thead
          %tr
            %th Level
            %th Message
            %th Source
            %th File
            %th Line
            %th Time
        %tbody
          = render :partial => 'puppet/util/logs/log', :collection => puppet_log_sorter(report.logs.compact)
  - else
    %p= describe_no_matches_for(:logs, :report)
