- if report
  = icon(Registry.find_first_callback(:report, :status_icon) { |thing| thing.call(report) } || report.status, {:title => report ? report_title_text(report) : 'No reports'})
- else
  = icon(:error)
