.header
  %h2
    = render 'report_title', :report => report
  - unless SETTINGS.enable_read_only_mode
    %ul.actions
      - Registry.each_callback :report, :actions do |thing|
        = thing.call self, report
      %li= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete, :class => "delete button"

.item
  - Registry.each_callback :core, :report_view_widgets do |widget|
    = widget.call self, report
