#sidebar= render 'shared/node_manager_sidebar'
#main
  - unless @diff_error_message
    = render 'diff',                               |
      :baseline_report      => @baseline_report,   |
      :my_report            => @my_report,         |
      :resource_statuses    => @resource_statuses, |
      :diff                 => @diff,              |
      :show_expand_all_link => true
  - else
    .header
      %h4 Comparison not available
    .item
      .section.error
        %h3 No baseline available to compare.
        %p
          = h @diff_error_message
