#sidebar= render 'shared/node_manager_sidebar'
#main
  = render 'diff',                               |
    :baseline_report      => @baseline_report,   |
    :my_report            => @my_report,         |
    :resource_statuses    => @resource_statuses, |
    :diff                 => @diff,              |
    :show_expand_all_link => true
