- parameter = parameter_input  # change silly partial-based variable name
- object_name = params[:controller].singularize
%tr
  %td.key
    = text_field_tag "#{object_name}[parameter_attributes][][key]", parameter.key, :placeholder => "key"
  %td.value
    %div
      = text_field_tag "#{object_name}[parameter_attributes][][value]", parameter.value, :placeholder => "value"
      .popup-actions
        %a.icon.delete{:href => '#'}
          %span (delete)
